doctype html

html.no-js

  include ./includes/header.jade

  body

    include ./includes/main-menu.jade

    header.masthead
      .row.align-middle
        .small-12.columns
          h1 contact

    section.introduction
      .row.align-center
        .small-10.medium-8.large-6.columns
          h2 Here is the best way to get in touch with me

    section.email
      .row.align-center
        .small-10.medium-8.large-6.columns
          h2 Send me an email!

      .row.align-center
        .small-6.medium-4.large-3.columns
          a(href="mailto:carl@stalhem.se?subject=Want to collaborate?")
            img(src="img/email.svg")
            p carl@stalhem.se



    section.social
      .row.align-center
        .small-10.medium-8.large-6.columns
          h2 Prefer Social Media?
          p Here's where to find me!
      .row.align-center
        - var socialItems = [{name: 'Dribbble', link: 'https://dribbble.com/cstalhem', image: 'dribbble.svg'}, {name: 'GitHub', link: 'https://github.com/Hasten2k', image: 'github.svg'}, {name: 'Behance', link: 'https://www.behance.net/Cstalhemfe74', image: 'behance.svg'}, {name: 'LinkedIn', link: 'https://se.linkedin.com/in/cstalhem', image: 'linkedin.svg'}]
        each item in socialItems
          .small-6.medium-4.large-3
            a(href="#{item.link}")
              img(src="img/#{item.image}")
              p #{item.name}

include ./includes/footer.jade
