doctype html

html.no-js

  include ./includes/header.jade

  body

    include ./includes/main-menu.jade

    header.masthead
      .row.align-middle
        .small-12.columns
          h1 portfolio


    section.introduction
      .row.align-center
        .small-12.medium-8.large-6.xlarge-5.columns
          h2 This is what I've done in the past

      .row.align-center
        .small-12.medium-6.large-5.columns
          p If you want to know more about anything and see bigger pictures, jucst click on a card!
          p Or, if you want to know more about what we can do together

      .row
        .small-12.columns
          a(href="contact.html").button.hollow.link Say hi!
            i.cine-icon.cine-icon-angle-right

    section.portfolio-cards
      .row.align-center

        - var portfolioCards = [{title: 'GuestDo Website', description: 'A redesign of hotel management app GuestDo\'s website.', link: '/guestdo.html', imageClass: 'guestdo'}, {title: 'Cine.se', description: 'A wordpress site I designed and deployed.', link: '/cine.html', imageClass: 'cine'}, {title: 'IMDb User Profile', description: 'A concept redesign of the IMDb User Profile I made.', link: '/imdb.html', imageClass: 'imdb'}, {title: 'Corporate Invoice Tepmplate', description: 'Modern and easy-to-read invoice design for a Consultancy Company.', link: '/invoice.html', imageClass: 'invoice'}, {title: 'Big Sur Tourism Website', description: 'Mockup for a redesign of the Big Sur Chamber of Commerce website.', link: '/big-sur.html', imageClass: 'big-sur'}, {title: 'Uber Landing Page', description: 'A mockup of a splash page for Uber.', link: '/uber.html', imageClass: 'uber'}, {title: 'Credit Card Checkout', description: 'A mockup of a cinema ticket purchase at the checkout stage.', link: '/card-payment.html', imageClass: 'card-payment'}, {title: 'Facebook iOS Sign-Up', description: 'A mockup of a new look for Facebook\'s iOS Sign-Up process.', link: '/facebook.html', imageClass: 'facebook'}]

        each item in portfolioCards
          .small-12.medium-6.large-4.columns
            a(href="/portfolio/#{item.link}").portfolio-card
              div(class="portfolio-card-image #{item.imageClass}")
              h4 #{item.title}
              p #{item.description}

    include ./includes/footer.jade
