doctype html

html.no-js

  include ./includes/header.jade

  body

    include ./includes/main-menu.jade

    header.masthead
      .row.align-middle
        .small-12.columns
          h1 portfolio

  include ./includes/footer.jade
