extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle   = "big sur california";
  - folderName  = 'big-sur';
  - fileName    = 'index.html';
  - fileSize    = '12 kB';

block introduction
  p A part of a design challenge where I was to design 1 new UI element per day for 100 days.

block content
  p Day two of the challenge was to design a credit card checkout screen for any device/screen.

  p I chose to work with an already existing brand since that would streamline the basic process with color palette etc since that already existed. I also chose to work with an iPad as a base since the current app does not support iPads and I wanted to see what I could do with the little larger screen.

  p I'm qute happy with the result since it looks modern, is very clear and there is no unneccesary content.
