extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle   = "corporate invoice template";
  - folderName  = 'invoice-template';
  - fileName    = 'invoice-1.1.pdf';
  - fileSize    = '93 kB';

block introduction
  p A redesign of an invoice I decided to make after realizing that all the invoices I'd recived in the past looked, boring, to say the least.

block content
  p I realized one day that I had yet to recieve an invoice that I would have been proud to send out, if I had been an employee at any of the companies that regularly send me invoices (you know, cellphone bills, electricity and the like).

  p The challenge I set myself was to make the invoice look as good as possible, while still not only keeping all the vital information, but also try to keep the positioning of the info roughly intact in order to make the invoice feel as familiar as possible, both for sender and reviever.

  p I think I was rather successful at that and enjoy the color scheme a lot personally.
