extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle  = 'ciné.se'
  - folderName = 'cine'
  - fileName   = 'device.png'
  - fileSize   = '1.5 MB'

block introduction
  p Ciné.se is a swedish movie review website. I was asked to redesign and deploy a new version of the site.

block content
  p Ciné.se had not been updated for a few years when I was asked to redesign the website. As I started looking at the site I realized that it was not built with any standard CMS. It was a completely custom setup.
  p Since the orignial developer was unavailable and the current setup required manual edits in the SQL database every time a new review was uploaded, we decided to scrap the old site entirely and migrate all the content to a standard wordpress installation with a custom theme.

  p I ended up doing both the design and theme development. As it is now, Ciné is up and running and initial version of the new site. As the owners have had to reprioritize their time, there has not been new content uploaded for a while. Feel free to visit Ciné #[a(href="http://www.cine.se") here].

  p I learned a lot about php and Wordpress development in the process so it was a very fun project to work on. I also had complete freedom to design everything as I liked which was another challenge in itself. If I would revisit the project, as I hope to do one day, I would first of all focus on optimizing the way images are loaded to speed the site up.
