extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle  = 'ciné.se'
  - folderName = 'cine'
  - fileName   = 'device.png'
  - fileSize   = '1.5 MB'

block introduction
  p Ciné.se is a swedish movie review website. I was asked to redesign and deploy a new version of the site.
