extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle      = 'guestdo website';
  - folderName     = 'guestdo';
  - fileName       = 'index.html';
  - fileSize       = '11 kB';
  - linkOverride   = '';
  - imgDescription = "Click on the image to see the full site.";

block introduction
  p GuestDo is an app that simplifies the communication between hotels and their guests. They also provide offline city guides for their users.

block content
  p I was tasked with redesigning GuestDo's website for the launch of the app.
  p An existing website was already in place but the founders felt that it needed a fresh new look. Because of that, I decided to use the original site as a starting point and inspiration. Many of the elements and all of the colors were kept since these are repeated inside the app and I wanted the users to recognize the branding.
  p The look I was going for was a modern but fun, something that the pink and white color scheme really helped pull off.
