extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle     = 'guestdo website';
  - folderName    = 'guestdo';
  - fileName      = 'index.html';
  - fileSize      = '2.65 MB';
  - linkOverride  = '';

block introduction
  p GuestDo is an app that simplifies the communication between hotels and their guests. They also provide offline city guides for their users.

block content
  p I was tasked with redesigning GuestDo's website for the launch of the app.
  p An existing website was already in place that the founders were happy with so I decided to use that as a starting point and inspiration. Many of the elements and all of the colors were kept since these are repeated inside the app.
  p The look I was going for was a modern but fun look, something that the pink and white color scheme really helped pull off.
  p The preview is a comparison between the original website and the new version. Since the old version was not built for mobile, the comparison is only between the desktop size of the site.
