extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle   = "corporate invoice template";
  - folderName  = 'invoice';
  - fileName    = 'invoice-1.1.pdf';
  - fileSize    = '93 kB';

block introduction
  p A redesign mockup I made as a part of a design challenge where I was supposed to design one UI component per day for 100 days.

block content
  p The design challenge consisted of designing a user profile for any device and product/brand.
  p As I am an avid movie-fan and love to hang out on IMDb, I had a look at their profile pages. As I feel they look very outdated and uninspiring, I decided to see what I could do about that.
  p I wanted to use a large image and make the whole site feel a little more like a social network for movies rather than just a fancy border for your ratings list.
  p As it came out, I like how the key statistics really stand out and allows you to brag a little about how much of a movie geek you are.
