extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle    = "uber landing page";
  - folderName   = 'uber';
  - fileName     = 'index.html';
  - fileSize     = '10 kB';
  - linkOverride = '';

block introduction
  p Another part of a design challenge I set myself. I was to design a landing page for a product or brand. As I am an avid Uber-user, I decided to have a look at their homepage.

block content
  p After spending two weeks in California in august 2015 and driving down Highway One, I really was stricken by how amazing an experience the drive really was. Because of that, I thought it would be fun to see if I could translate that feeling to the site.

  p You can see the result #[a(href="big-sur/index.html") here] and decide for yourself what you think. If I were to do anything differently, I would spend even more time looking for the perfect images and also spend some more time on interactivity and motion design.
