extends ../includes/portfolioTemplate.jade

append variables
  - pageTitle    = "uber landing page";
  - folderName   = 'uber';
  - fileName     = 'index.html';
  - fileSize     = '10 kB';
  - linkOverride = '';

block introduction
  p Another part of a design challenge I set myself. I was to design a landing page for a product or brand. As I am an avid Uber-user, I decided to have a look at their homepage.

block content
  p You can see the result #[a(href="uber/index.html") here] and decide for yourself what you think. It was a fun challenge and I am really happy with how it turned out.
