footer
  .row
    .small-12.columns
      h2 Thanks for stopping by!
      p Copyright &copy;
      p Carl Stålhem 2016
      p.ie-disclaimer Oh, if you are using Internet Explorer version 8 or earlier, chanses are that this site will look linda funky. Sorry about that. My tip is to update your IE version or switch to Chrome, Firefox or Safari.

script(src="js/app.min.js")
