doctype html
html.no-js
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carl Stålhem - Home</title>
  <script src="https://use.fonticons.com/f8f3782a.js"></script>
  <!-- @import variables.kit -->
  <link rel="stylesheet" href="<!-- @css-file -->">
</head>
<body class="<!-- @body-class -->">
