div.menu-container
  div.row
    div.small-12.columns
      div.title-bar(data-responsive-toggle="menu" data-hide-for="medium")
        button.menu-icon(type="button" data-toggle)
  div#menu.top-bar
    ul.menu.vertical.medium-horizontal.align-center
      - var menuItems = [{name: 'Home', link: 'index.html'}, {name: 'Portfolio', link: 'portfolio.html'}, {name: 'CV', link: 'cv.html'}, {name: 'Contact', link: 'contact.html'}]
      each item in menuItems
        li
          if isPortfolioTemplate
            a(href="../#{item.link}") #{item.name}
          else
            a(href="#{item.link}") #{item.name}
