div.menu-container
  div.row
    div.small-12.columns
      div.title-bar(data-responsive-toggle="menu" data-hide-for="medium")
        button.menu-icon(type="button" data-toggle)
  div#menu.top-bar
    ul.menu.vertical.medium-horizontal.align-center
      li
        a(href="index.html") Home
//- 
//- <div class="menu-container">
//- 	<div class="row">
//- 		<div class="small-12 columns">
//- 			<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
//- 				<button class="menu-icon" type="button" data-toggle></button>
//- 		</div>
//- 		</div>
//- 	</div>
//- 	<div id="menu" class="top-bar">
//- 		<ul class="menu vertical medium-horizontal align-center">
//- 			<li><a href="<!-- @home -->">Home</a></li>
//- 			<li><a href="<!-- @portfolio -->">Portfolio</a></li>
//- 			<li><a href="<!-- @cv -->">CV</a></li>
//- 			<li><a href="<!-- @contact -->">Contact</a></li>
//- 		</ul>
//- 	</div>
//- </div>
