.carousel {
	@include breakpoint(small) {
		background-image: url('../img/carousel_bg_small.svg');
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-color: $white; // Color fallback for devices that cant use .svg files
	}
	@include breakpoint(medium) {
		background-image: url('../img/carousel_bg_medium.svg');
	}
	@include breakpoint(large) {
		background-image: url('../img/carousel_bg_large.svg');
	}
	@include breakpoint(xlarge) {
		background-image: url('../img/carousel_bg_xlarge.svg');
	}

	.slide {
		// background-color: white;
		box-shadow: 0px 3px 5px rgba($black, 0.5);
	}

	.slide-image {
		background-color: $white;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.carousel-header {
		line-height: 100%;
	}
}