.wrapper {
	position: relative;
	width: 100%;

	@include breakpoint(small) {
		height: 568px;
	}
	@include breakpoint(medium) {
		height: 1024px;
	}
	@include breakpoint(large) {
		height: 768px;
	}
	@include breakpoint(xlarge) {
		height: 1024px;
	}
	@include breakpoint(xxlarge) {
		height: 1080px;
	}

	background-image: url('../img/bg.png');
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;

	color: $white;
}

.top-bar {
	width: 100%;
	@include breakpoint(small) {
		padding: 10px 0;
	}
	@include breakpoint(medium)
	@include breakpoint(large)
}

.logo {
	@include breakpoint(small) {
		height: 25px;
		margin: 10px 0;
	}
}

.driver {
	@include button(false, $white, auto, auto, solid);
	border-radius: $global-radius;
	&.right {
		float: right;
	}
}

.iphone {
	@include breakpoint(small) {
		text-align: center;
		padding: 20px 0 50px;
	}
	@include breakpoint(medium) {
		text-align: right;
		padding-bottom: 150px;
	}
	img {
		@include breakpoint(small) {
			max-height: 250px;
			display: block;
			margin: 0 auto;
		}
		@include breakpoint(medium) {
			max-height: 350px;
			float: left;
		}
	}
}

.callout {
	padding: 15px 0 0;
	h1 {
		line-height: 1;
		margin: 0 0 10px;
		font-weight: 500;
	}
	h2 {
		line-height: 1;
		font-weight: 300;
		margin-bottom: 15px;
	}
}

.know-more {
	text-align: center;
	padding-top: 20px;

	@include breakpoint(medium) {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding-bottom: 15px;
	}

	p {
		margin: 0 0 15px;
	}
	.chevron {
		float: none;
		display: block;
		margin: 0 auto;
		height: 10px;
		margin-bottom: 10px;
		@include breakpoint(medium) {
			height: 15px;
		}
	}
}